html {
	background-color: #FFF;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: large;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	background-color: beige;
}
body > :first-child {
	margin-top: 0;
}
label, input[type=submit] {
	display: block;
	margin: .6rem;
}
label > span {
	display: inline-block;
	width: 10rem;
}
label span::after {
	content: ':';
}
input[type=submit] {
	margin-left: 11rem;
}
input {
	box-sizing: content-box;
	width: 15rem;
	height: 1.25rem;
	padding: 0;
}